#
#
#	You should not usually use this, have the server's config point to index.php not the .htaccess.
#
#	But this is on my dev server so it is easier.
#
#	Do as I say, not as I do.
#
#

# Turn rewriting on
Options +FollowSymLinks
RewriteEngine On
# Redirect requests to index.php
RewriteCond %{REQUEST_URI} !=/index.php
RewriteRule .* /index.php